doctype html
html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title clone website
  // <link rel="stylesheet" href="/static/style.css">
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@600&family=Noto+Sans+JP:wght@200&family=Orbitron&family=Poppins:ital,wght@0,200;1,500&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='../static/ayurved.css')  

nav.navbar
  .menu
    #box1.box
      img(src='../static/rogimage.png')
    #box2.box Shop All
    #box3.box Featured
    #box4.box Health
    #box5.box #[a(href="/details")(style='color:white ; text-decoration:none') Search]
    #box6.box #[a(href="/contact")(style='color:white ; text-decoration:none') help]
    #box7.box My account
    #box8.box
      ion-icon#gear(name='settings-outline')
section#home
  p#p1 20% off sitewide
  p#p2
    | Step into the 
    br
    | New Season
  p#p3
    | Discover our newest collection where 
    br
    | desirable health meet effortless precaution.
  p#p4 Shop Now
#image_section
  #image1.templates
    .photo
      img(src='https://img.freepik.com/free-photo/fresh-healthy-fruits-straw-basket-generative-ai_188544-11999.jpg?size=626&ext=jpg&ga=GA1.1.1790127258.1694195590&semt=sph')
    .content
      p Modular Packaging
      p
        | Unboxing like never
        br
        | before
      p
        a.hypertag(href='') Read Story
  #image2.templates
    .photo
      img(src='https://img.freepik.com/free-photo/top-view-fruits-basket-bunches-grapes-persimmons-apples-with-leaves_140725-119812.jpg?size=626&ext=jpg&ga=GA1.1.1790127258.1694195590&semt=sph')
    .content
      p How it&apos;s made
      p We do it with grace
      p(style='margin-top:40px;')
        a.hypertag(href='') Read Story
  #image3.templates
    .photo
      img(src='https://img.freepik.com/premium-photo/summer-fruits-meet-refreshing-blast-water_115058-372.jpg?size=626&ext=jpg&ga=GA1.1.1790127258.1694195590&semt=sph')
    .content
      p Devised in Amsterdam
      p
        | health essentials with
        br
        | AIMS institute
      p
        a.hypertag(href='') Read Story
.section2
  div
    h1 The Favorites
  .container
    #pic1.pic
      img(src='https://us.123rf.com/450wm/virtosmedia/virtosmedia2301/virtosmedia230104940/197229589-herbs-and-spices-on-black-background-top-view-flat-lay.jpg?ver=6')
      img.top(src='https://us.123rf.com/450wm/virtosmedia/virtosmedia2301/virtosmedia230105065/197229714-herbs-and-spices-on-a-dark-background-flat-lay-top-view.jpg?ver=6' )
    #pic2.pic
      img(src='https://us.123rf.com/450wm/virtosmedia/virtosmedia2302/virtosmedia230233391/198633606-autumn-flowers-and-herbs-set-on-dark-background-flat-lay-top-view.jpg?ver=6')
      img.top(src='https://us.123rf.com/450wm/virtosmedia/virtosmedia2302/virtosmedia230210807/197938160-flowers-composition-frame-made-of-different-flowers-on-white-background-flat-lay-top-view-copy-space.jpg?ver=6')
    #pic3.pic
      img(src='https://us.123rf.com/450wm/virtosmedia/virtosmedia2302/virtosmedia230227850/198615125-autumn-composition-with-flowers-and-leaves-flat-lay-top-view.jpg?ver=6')
      img.top(src='https://us.123rf.com/450wm/virtosmedia/virtosmedia2302/virtosmedia230210723/197938076-creative-layout-made-of-tropical-leaves-and-flowers-on-white-background-flat-lay-top-view.jpg?ver=6')
.payment
  #method1
    img.picture(src='https://cdn.wallpapersafari.com/30/38/tbpwa7.jpg')
    img.belowimage(style='background:url(https://t4.ftcdn.net/jpg/06/32/57/11/360_F_632571187_glzcmAoI5egceKDX23z0SxqpJUxAQPk4.jpg) center top/cover')
    p
      | ETQ Gift Card
  #method2
    img.picture(src='https://cdn.wallpapersafari.com/30/38/tbpwa7.jpg')
    img.belowimage(style='background:url(https://img.freepik.com/premium-photo/colorful-various-herbs-spices-cooking-dark-background-copy-space-mock-up-banner-high-quality-photo_872147-5199.jpg) center center/cover;')
    p
      | Loafer Collection
footer
  #feedback
    p
      | Add Some color to your feed
  .ionicons
    ion-icon(name='logo-google')
    ion-icon(name='logo-google-playstore')
    ion-icon(name='logo-facebook')
    ion-icon(name='logo-instagram')
.foot2
  #sec1
    p(style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;") ETQ
    br
    a(href='#') Expert Help
    br
    br
    a(href='#') Decoration Ideas
    br
    br
    a(href='#') Find Nearby store
    br
    br
    a(href='#') Sitemap
    br
  #sec2
    p(style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;") Popular Categories
    br
    a(href='#') ETQ medicines
    br
    br
    a(href='#') Products
    br
    br
    a(href='#') Contact us
    br
    br
    a(href='#') About ETQ
    br
  #sec3
    p(style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;") Access
    br
    a(href='#') Accessibility
    br
    br
    a(href='#') Colour Accuracy
    br
    br
  #sec4
    p(style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: larger;") Other Shoes Sites
    br
    a(href='#') Real Fruits
    br
    br
    a(href='#') patanjli
    br
    br
.foot3(style='text-align: center; margin-top: 30px; word-spacing: 10px;')
  img(src='https://logowik.com/content/uploads/images/adidas-new-20225326.jpg' style='width: 90px; height: 70px; mix-blend-mode:multiply;')
  img(src='https://static.vecteezy.com/system/resources/previews/010/994/232/non_2x/nike-logo-black-clothes-design-icon-abstract-football-illustration-with-white-background-free-vector.jpg' style='width: 70px; height: 70px;')
.foot4(style='text-align: center; margin-top: 30px; font-family: poppins, sans-serif; font-size: large;')
  p(style='color: grey') Cookies &emsp;|&emsp;  Privacy Policy &emsp;|&emsp;  Cookies Settings &emsp;|&emsp;  Legal
.foot5(style='font-family: poppins, sans-serif; font-size: x-large; margin-top: 30px;')
  p(style='text-align: center;')
    | Copyright @ ETQ Shoes 2023   &emsp;&emsp;
    strong(style='color: rgb(8, 8, 90);')
      | Addidas 
      ion-icon(name='cellular-outline' style='margin-bottom: -4px; transform: rotate(-21deg);')
script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
