extend base.pug

block scripts  
    script 
        include ../static/index/index.js
    script(type='module' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js')
    script(nomodule='' src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js')
        

block style 
    style 
        include ../static/index/style2.css
        include ../static/index/stylecontact.css 

block content 
    h2 Details
    form(action="/details", method="post",class="myform")
        input(type="text",name="Disease",placeholder="Disease Name",class='fields')
        input(type="text",name="Gender",placeholder="Gender",class='fields')
        input(type="text",name="Severity",placeholder="Severity",class='fields')
        input(type="number",name="Age",placeholder="Age",class='fields')
        div.function
            input(type="submit",value="Submit", class="switch")
            input(type="reset",value="Reset",class="switch")
        
