<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clone website</title>
    //- <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@600&family=Noto+Sans+JP:wght@200&family=Orbitron&family=Poppins:ital,wght@0,200;1,500&display=swap" rel="stylesheet">
    style 
        include ../static/style.css
</head>
 


<body>
    <nav class="navbar">
        <div class="menu">
            <div class="box" id="box1">
                <img src="/static/rogimage.png">
            </div>
            <div class="box" id="box2">Shop All</div>
            <div class="box" id="box3">Featured</div>
            <div class="box" id="box4">Shoe Care</div>
            <div class="box" id="box5">Search</div>
            <div class="box" id="box6">Help</div>
            <div class="box" id="box7">My account</div>
            <div class="box" id="box8">
                <ion-icon name="settings-outline" id="gear"></ion-icon>
            </div>
        </div>
    </nav>
    <section id="home">
        <p id="p1">20% off sitewide</p>
        <p id="p2">Step into the <br>New Season</p>
        <p id="p3">Discover our newest collection<br>where total designs meet effortless luxury.</p>
        <p id="p4">Shop Now</p>
    </section>
    <div id="image_section">
        <div id="image1" class="templates">
            <div class="photo">
                <img src="https://www.etq-amsterdam.com/cdn/shop/articles/ETQ-FitpicsHQ-0855-26-04-22-Packing-Boxes_crob_LR_15_400x.png?v=1672415228">
            </div>
            <div class="content">
                <p>Modular Packaging</p>
                <p>Unboxing like never<br>before</p>
                <p><a href="" class="hypertag">Read Story</a></p>
            </div>
        </div>
        <div id="image2" class="templates">
            <div class="photo">

                <img src="/static/clip.webp">
            </div>
            <div class="content">
                <p>How it's made</p>
                <p>We do it with grace</p>
                <p  style="margin-top:40px;" ><a href="" class="hypertag">Read Story</a></p>
            </div>

        </div>
        <div id="image3" class="templates">

            <div class="photo">
                <img src="https://www.etq-amsterdam.com/cdn/shop/articles/ETQ-FitpicsHQ-0855-26-04-22-Packing-Boxes_crob_LR_17_400x.png?v=1682003114">
            </div>
            <div class="content">
                <p>Designed in Amsterdam</p>
                <p>Wardrobe essentials with<br>Ruud Gullit</p>
                <p><a href="" class="hypertag">Read Story</a></p>
            </div>
        </div>
    </div>

    <div class="section2">
        <div><h1>The Favorites</h1></div>
        <div class="container">
            <div class="pic" id="pic1">
                <img src="https://i.pinimg.com/736x/b0/0f/2c/b00f2c68913f60d420006e22c3badb29--boys-shoes-mens-footwear.jpg">
                <img src="https://i.pinimg.com/1200x/2d/76/7c/2d767c420e5b2a3158f8d211ae8de608.jpg" class="top" style="width:736px; height:462px;">
            </div>
            <div class="pic" id="pic2">
                <img src="https://i.pinimg.com/originals/00/59/af/0059afd35a2e35b41e3d5896b78cce25.jpg">
                <img src="https://www.etq-amsterdam.com/cdn/shop/files/ETQ-WardrobeEssentials-7Aug-2448crob_v1.jpg?v=1692694486"class="top" style="width:407px; height:462px;">
            </div>
            <div class="pic" id="pic3">
                <img src="https://i.pinimg.com/originals/95/3a/69/953a69ffd3e53dd94dee7764f50b1952.jpg">
                <img src="https://i.pinimg.com/originals/b2/e1/e2/b2e1e23637107fe2443c90c2142bada9.jpg" class="top" style="width:650px; height:462px;">
            </div>
        </div>
    </div>

</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>