/* SCROLLBAR CUSTIMIZATION */

/* REMOVING THE SCROLLBAR */
::-webkit-scrollbar{
    /* display: none; */
    width:10px;
    /* overflow:hidden; */
    /* would also remove the functionality of the scrollbar */
}
::-webkit-scrollbar-track{
    background: rgb(79, 117, 95);
}
::-webkit-scrollbar-thumb{
    background:rgb(188, 214, 22);
}
/* ::-webkit-scrollbar-thumb:hover{
    background:rgb(27, 28, 28);
} */

body{
    overflow-x: hidden;
}

/* MENU */
.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index:100;
    background-color: black;
    opacity: 0.7;
}

.navbar .menu {
    /* must use top and left to use sticky */
    display: flex;
    height: 60px;
    width: 102%;
    
    align-items: center;
    /* font-family: 'Black Ops One', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'Orbitron', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

.box {
    padding: 15px 20px;
    margin: 0px 2px;
    font-size: large;
    color: white;
}

/* LOGO */
#box1 img {
    height: 50px;
    width: 50px;
    padding: 0px;
    mix-blend-mode: hard-light;
    filter: invert(100%);

}

/* Setting icon */
#gear {
    height: 33px;
    width: 33px;
    padding: 0px;
    margin-top: 13px;
}

/* menu orientation */
#box1 {
    margin-left: 10px;
}

#box4 {
    margin-right: 430px;
}

/* menu effects */
#box2,
#box3,
#box4,
#box5,
#box6,
#box7 {
    color:white;
    text-decoration: none;
    transition: all ease 0.3s;
    cursor: pointer;
}

#box2:hover,
#box3:hover,
#box4:hover,
#box5:hover,
#box6:hover,
#box7:hover {
    transform: scale(1.2) translate(10px);
}

#gear {
    transition: all ease 0.5s;
    cursor: pointer;
}

#gear:hover {
    transform: rotate(90deg);
}

/* home section */
#home {
    margin-top: 100px;
    margin-right: 0px;
    display: flex;
    float: right;
    flex-direction: column;
}

#home::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    z-index: -1;
    background:url(
        https://static.vecteezy.com/system/resources/previews/029/628/395/non_2x/studio-shot-of-various-fruits-and-vegetables-isolated-on-black-background-top-view-high-resolution-products-free-photo.jpeg) center center/cover;
    height: 670px;
    width: 983.750px;


}

/* home content */
#home #p1 {
    margin-right: 8%;
    margin-bottom: 10px;
    font-style: oblique;
    font-family: 'Poppins', sans-serif;
}

#home #p2 {
    margin-right: 8%;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;

}

#home #p3 {
    margin-right: 8%;
    margin-bottom: 20px;
    /* font-family: 'Black Ops One', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Poppins', sans-serif;

}

#home #p4 {
    margin-right: 8%;
    margin-bottom: 20px;
    /* font-family: 'Black Ops One', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Poppins', sans-serif;
    transition: all ease 0.3s;
    border: 1px solid black;
    padding: 5px 20px;
    width: 80px;
    cursor: pointer;
}

#p4:hover {
    transform: scale(1.2);
    background-color: black;
    color: white;

}


/* IMAGE SECTION */

#image_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 685px;
    width: 95%;
    margin-left: 39px;
}

.templates {
    display: flex;
    background-color: white;
    height: 256px;
    width: 100%;
    font-family: cursive;
    font-size: large;

}

.templates img {
    height: 256px;
    width: 185px;
}

#image1 .content,
#image2 .content,
#image3 .content {
    position: relative;
    top: 54px;
    left: 15px;
    color: rgb(99, 99, 99);
    margin-bottom: 54px;
}

.content .hypertag{
    text-decoration: none;
    cursor: pointer;
    transition: all ease 0.3s;
    color:blueviolet;
}

.content .hypertag:hover {
    color: rgb(6, 177, 69);
}

/* SECTION 2 */
.section2 {

    position: relative;
    top: 54px;
    left: 0px;
    font-family: poppins, sans-serif;
}

.section2 h1 {
   
    margin-left: 40px;
    margin-bottom:45px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    overflow-x: hidden;
}

.pic img {
    height: 462px;
    width: 407px;
    cursor: pointer;
    transition: all ease-in-out 2s;
    box-sizing: border-box;
}

.pic {
    display: flex;
    justify-content: center;
    align-self: center;

}

/* IMAGE CHANGING HOVERING EFFECT */
#pic1{
    position:relative;
    overflow:hidden;
    
}

#pic1 img.top{
    position:absolute;
    left: 17px;
    opacity: 0;
    
    transition:opacity 0.4s;
}
#pic1:hover img.top{
    opacity:1;
}


#pic2{
    position:relative;
    overflow:hidden;
}

#pic2 img.top{
    position:absolute;
    left: 17px;
    opacity: 0;
    clip: rect(0px,416px,462px,0px);
    transition:opacity 0.4s;
}
#pic2:hover img.top{
    opacity:1;
}


#pic3{
    position:relative;
    overflow:hidden;
}

#pic3 img.top{
    position: absolute;
    left: 16px;
    opacity: 0;
    
    transition:opacity 0.4s;
}
#pic3:hover img.top{
    opacity:1;
}

/*  */
/*  */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */




.payment{
    position:relative;
    display:flex;
    margin:170px 10px;
    justify-content: space-around;
}

#method1 img , #method2 img{
    width:618.5px;
    height:346.688px;
}
#method1 p,#method2 p{
    font-family: 'Black Ops One', cursive;
    font-size:xx-large;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Noto Sans JP', sans-serif; */
    /* font-family: 'Orbitron', sans-serif; */
    margin-top:-190px;
    text-align:center;
    color:transparent;
    transition:all ease 0.5s ;
 
}
#method1:hover p{
    color:white;
    transform:scale(2);
}
#method2:hover p{
    color:white;
    transform:scale(1.8);
  
}
.picture{
    transition:all ease 0.5s ;
    
}
.picture:hover{
    opacity:0.5;
}
#method1 .belowimage{
    position:absolute;
    top:0px;
    left:20px;
    cursor:pointer;
}
#method2 .belowimage{
    position:absolute;
    top:0px;
    right:21px;
    cursor:pointer;
}
#method1 .belowimage,#method2 .belowimage{transition: all ease 0.7s;}
#method1:hover .belowimage,#method2:hover .belowimage{
    opacity:0.3;
}

/* Footer section */
footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:100px;
    margin-top:510px;
    
}

#feedback p{
    display:flex;
    justify-content:center;
    font-size:xx-large;
    font-family: poppins,sans-serif;
    background: linear-gradient(to right,rgb(8, 75, 8),rgb(68, 102, 3),rgb(45 167 70),#c99727,#719427,#cb1111);
    /* -webkit-text-fill-color: transparent; */
    color:transparent;
    background-clip:none;
    -webkit-background-clip: text;
}
.ionicons{
    display: flex;
    justify-content: center;
    
}

ion-icon[name]{
    width:35px;
    height:35px;
    margin:10px 30px;
    cursor: pointer;
    transition:all ease 0.15s;
}
ion-icon[name]:hover {
    transform:scale(1.4);
    
}





.foot2{
    background-color: rgb(4, 5, 85);
    width: 100%;
    height: 400%;
    padding-bottom:100px;
    margin-top:50px;
  }
  
  #sec1 p{
    color: white;
    padding-top: 40px;
    margin-left: 100px;
  }
  #sec1 a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: medium;
    text-decoration: none;
    color:white;
    margin-left:100px;
  }
  
  
  
  #sec2 p{
    color: white;
    padding-top: 40px;
    margin: -240px 0px 0px 400px;
    padding-bottom: 15px;
  }
  #sec2 a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: medium;
    text-decoration: none;
    color:white;
    margin: -200px 0px 0px 400px;
  }
  
  
  #sec3 p{
    color: white;
    padding-top: 40px;
    margin: -240px 0px 0px 720px;
    padding-bottom: 15px;
  }
  #sec3 a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: medium;
    text-decoration: none;
    color:white;
    margin: -200px 0px 0px 720px;
  }
  
  
  
  
  
  #sec4 p{
    color: white;
    padding-top: 40px;
    margin: -178px 0px 0px 1000px;
    padding-bottom: 15px;
  }
  #sec4 a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: medium;
    text-decoration: none;
    color:white;
    margin: -178px 0px 0px 1000px;
  }
  
  
  .foot5{
    padding-bottom: 5px;
  }
